.hero{
  &__img{
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    z-index: -1;
    @include media-breakpoint-up(md) {
      height: 450px;
    }
  }
}

.hero__section{
  height: auto;
  width: 100%;
  position: relative;
}

.hero__img {
  &.object-bottom{
    object-position: bottom;
  }
}

.picture {
  &.text-center {
    img {
      width: 100%;
      height: auto;
    }
  }
}
