.hero__img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  z-index: -1;
}

.hero__section{
  height: 450px;
  position: relative;
}

.hero__img.object-bottom{
  object-position: bottom;
}
.hero__img.object-top{
  object-position: top;
}
